.m-button {
  font-family: "Poppins";
  font-size: $paragraph-size;
  line-height: $small-line-height;
  background-color: $green;
  text-align: center;
  color: white;
  border: none;
  padding: $medium-spacing $large-spacing;
  border-radius: $xlarge-spacing;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  }
}
