$small-spacing: 4px;
$medium-spacing: $small-spacing * 2; // 8
$large-spacing: $small-spacing * 4; // 16
$xlarge-spacing: $small-spacing * 6; // 32

$paragraph-size: $large-spacing;
$small-line-height: $small-spacing * 6; //24
$large-line-height: $small-line-height * 2; //48
$title-size: $xlarge-spacing;
