@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;900&family=Montserrat:wght@300;500;700&family=Poppins:wght@300;400;500;600;700&display=swap");

@import "./colors.scss";
@import "./constants.scss";
@import "./button.scss";
@import "./search-bar.scss";
@import "./card.scss";
@import "./list-element.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: $black;
  background-color: $body-background;
  font-size: $paragraph-size;
  font-family: "Poppins";
}

.App {
  width: 30%;
  margin: 0 auto;

  .search-contianer {
    margin: $xlarge-spacing 0px;

    .header {
      margin-bottom: $xlarge-spacing;
    }
    .button-container {
      width: 100%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: flex-end;
      .m-clear-button {
        color: $green;
        font-weight: 600;
        width: 42px;
        height: 24px;
        line-height: $small-line-height;
        cursor: pointer;
      }
    }
  }
  .list {
    .list-container {
      .list-header {
        align-items: center;
      }
      .list-item {
        margin: $small-spacing 0;
        padding: 8px 0;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .App {
    width: 90%;
  }
}
